astroid
attrs==19.3.0
backcall==0.2.0
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
clickclick==1.2.2
colorama==0.4.3
connexion
cryptography==3.2
decorator==4.4.2
entrypoints==0.3
Flask==1.1.2
idna
importlib-metadata
inflection
ipykernel==5.3.0
ipython
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
openapi-spec-validator==0.2.8
parso==0.7.0
pathlib2==2.3.5
pickleshare==0.7.5
prompt-toolkit==3.0.5
pycparser
Pygments==2.6.1
pylint
pyOpenSSL==19.1.0
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
PyYAML==5.3.1
pyzmq==19.0.1
requests
six==1.15.0
swagger-ui-bundle==0.0.6
toml
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.9
wcwidth
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zipp==3.1.0
